{% extends "layout.html" %}

{% block heading %}
<title>Index</title>
{% endblock %}

{% block content %}

<script type="text/javascript">

</script>

<div id="home" class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="row multi-contenido">
                <p class="lang-flag"><a href="{{ url_for('index') }}"> Back to spanish <img src="static/images/es-mini.png"></a></p>
                <h1 class="centered">Ferretería Marcial</h1>
                <div class="row">
                    <div class="col-sm-5">
                        <p> Hardware store located in Isla Cristina with a wide variety of products. Near the town bridge & the Damas bus station.</p>
                        <br>
                        <a href="static/images/tienda.jpg" target="_blank"><img src="static/images/tienda.jpg" class="img-responsive img-rounded" alt="Tienda"></a>

                    </div>
                    <div class="col-sm-7">
                        <h4>Last updates</h4>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: none"></div>
                            <div class="panel-body">{{ mensaje }}</div>
                        </div>
                        <h4> Opening hours </h4>

                      <table class="table table-stripped table-dark centered table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="centered">Day</th>
                          <th scope="col" class="centered">Mornings</th>
                          <th scope="col" class="centered">Afternoons</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Monday-Friday</td>
                          <td>9:00-14:00</td>
                          <td>16:30-20:30</td>
                        </tr>
                        <tr>
                          <td>Saturday</td>
                          <td>09:30-13:30</td>
                          <td>Closed</td>
                        </tr>
                        <tr>
                          <td>Sunday</td>
                          <td colspan="2">Closed</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="productos" class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="multi-contenido">
                <h1 style="text-align: center;">Our products</h1>
                <div class="row">
                    <div class="col-sm-7">
                        <p>Lots of them! What are you looking for? Check out our special offers (spanish).</p>
                        <p class="centered"><a href="/contacto" class="btn btn-default">Go to offers</a></p>
                    </div>
                    <div class="col-sm-5">
                        <table>
                            <tr>
                                <td>
                                    <ul>
                                        <li>Hardware</li>
                                        <li>Plumbing </li>
                                        <li>Electricity</li>
                                        <li>Drugstore</a></li>
                                        <li>Decoration</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Tools</li>
                                        <li>Machinery</li>
                                        <li>Camping Gas</li>
                                        <li>Bolts/Screws</a></li>
                                        <li>Safety Material</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Paint</li>
                                        <li>Home products</li>
                                        <li>Garden</li>
                                        <li>Keys duplication</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="static/images/tienda-1.jpg" target="_blank"><img src="static/images/tienda-1.jpg" class="img-responsive img-rounded espaciada"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="static/images/tienda-2.jpg" target="_blank"><img src="static/images/tienda-2.jpg" class="img-responsive img-rounded espaciada"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="static/images/tienda-3.jpg" target="_blank"><img src="static/images/tienda-3.jpg" class="img-responsive img-rounded espaciada"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="localizacion" class="container-fluid" style="padding-bottom:50px;">
    <div class="parent">
        <div class="child">
            <div class="multi-contenido">
                <h1 class="centered">Find us</h1>

                <div class="row">
                    <div class="col-sm-9">
                        <p>Call us at <a href="tel:+34959330790" class="link-sobre-blanco">+34 959330790</a> or contact us through the form, we'll answer to the given email.</p>
                    </div>
                    <div class="col-sm-3 centered">
                        <a href="/contacto" class="btn btn-default">Go to the contact form</a>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-12">
                        <h4>Address</h4>
                        <p>
                            Ferretería Marcial -
                            C/ del Prado nº 30 -
                            21410 - Isla Cristina (Huelva)
                        </p>
                    </div>
                </div>


                <div class="centered" style="margin:0px;padding:0px;overflow:hidden">
                    <!--<div style="display: inline-block">-->
                            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.6505788966089!2d-7.325406587116023!3d37.20333282004793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1024f41e9a5fa9%3A0x5ac7041a726848b6!2sFerreteria+Marcial!5e0!3m2!1sen!2ses!4v1555715867084!5m2!1sen!2ses" width="100%" height="100%" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:50%;width:100%;" allowfullscreen></iframe>-->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.6505788966089!2d-7.325406587116023!3d37.20333282004793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1024f41e9a5fa9%3A0x5ac7041a726848b6!2sFerreteria+Marcial!5e0!3m2!1sen!2ses!4v1555715867084!5m2!1sen!2ses" width="100%" height="450px" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:500px;width:100%;" allowfullscreen></iframe>
                    <!--</div>-->
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}