{% extends "layout.html" %}

{% block heading %}
<title>Index</title>
{% endblock %}

{% block content %}

<script type="text/javascript">

</script>

<div id="home" class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="row multi-contenido">
                <p class="lang-flag right"><a href="{{ url_for('english') }}"> English? <img src="static/images/uk-mini.png"></a></p>
                <h1 class="centered">Ferretería Marcial</h1>
                <div class="row">
                    <div class="col-sm-5">
                        <p> Una ferretería con gran variedad de productos. Cerca de la estación de autobuses de Damas y del puente de entrada al pueblo.</p>
                        <br>
                        <a href="static/images/tienda.jpg" target="_blank"><img src="static/images/tienda.jpg" class="img-responsive img-rounded" alt="Tienda"></a>
                        <br>
                    </div>
                    <div class="col-sm-7">
                        <h4>Últimas Notificaciones</h4>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: none"></div>
                            <div class="panel-body">{{ mensaje }}</div>
                        </div>
                        <h4> Horario habitual </h4>

                      <table class="table table-stripped table-dark centered table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="centered">Días</th>
                          <th scope="col" class="centered">Mañana</th>
                          <th scope="col" class="centered">Tarde</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Lunes-Viernes</td>
                          <td>9:00-14:00</td>
                          <td>16:30-20:30</td>
                        </tr>
                        <tr>
                          <td>Sábados</td>
                          <td>09:30-13:30</td>
                          <td>Cerrado</td>
                        </tr>
                        <tr>
                          <td>Domingo</td>
                          <td colspan="2">Cerrado</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="productos" class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="multi-contenido">
                <h1 style="text-align: center;">¿Qué vendemos?</h1>
                <div class="row">
                    <div class="col-sm-7">
                        <p> Preguntanos, tenemos montones de productos! Puedes consultar también nuestras ofertas especiales.</p>
                        <p class="centered"><a href="/promociones" class="btn btn-default">Ver ofertas</a></p>
                    </div>
                    <div class="col-sm-5">
                        <table>
                            <tr>
                                <td>
                                    <ul>
                                        <li>Ferretería</li>
                                        <li>Fontanería</li>
                                        <li>Electricidad</li>
                                        <li>Droguería</a></li>
                                        <li>Decoración</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Herramientas</li>
                                        <li>Maquinaria</li>
                                        <li>Camping Gas</li>
                                        <li>Tornillería</a></li>
                                        <li>EPIs</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Pintura</li>
                                        <li>Menaje</li>
                                        <li>Jardín</li>
                                        <li>Copias de llaves</a></li>
                                        <li>Manualidades</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="static/images/tienda-1.jpg" target="_blank"><img src="static/images/tienda-1.jpg" class="img-responsive img-rounded espaciada"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="static/images/tienda-2.jpg" target="_blank"><img src="static/images/tienda-2.jpg" class="img-responsive img-rounded espaciada"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="static/images/tienda-3.jpg" target="_blank"><img src="static/images/tienda-3.jpg" class="img-responsive img-rounded espaciada"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="localizacion" class="container-fluid" style="padding-bottom:50px;">
    <div class="parent">
        <div class="child">
            <div class="multi-contenido">
                <h1 class="centered">Encuéntranos</h1>

                <div class="row">
                    <div class="col-sm-9">
                        <p>Llámanos al <a href="tel:959330790" class="link-sobre-blanco">959330790</a> o escríbemos a través del formulario, te responderemos al email facilitado.</p>
                    </div>
                    <div class="col-sm-3 centered">
                        <a href="/contacto" class="btn btn-default">Ir al formulario de contacto</a>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-12">
                        <h4>Dirección</h4>
                        <p>
                            Ferretería Marcial -
                            C/ del Prado nº 30 -
                            21410 - Isla Cristina (Huelva)
                        </p>
                    </div>
                </div>


                <div class="centered" style="margin:0px;padding:0px;overflow:hidden">
                    <!--<div style="display: inline-block">-->
                            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.6505788966089!2d-7.325406587116023!3d37.20333282004793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1024f41e9a5fa9%3A0x5ac7041a726848b6!2sFerreteria+Marcial!5e0!3m2!1sen!2ses!4v1555715867084!5m2!1sen!2ses" width="100%" height="100%" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:50%;width:100%;" allowfullscreen></iframe>-->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.6505788966089!2d-7.325406587116023!3d37.20333282004793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1024f41e9a5fa9%3A0x5ac7041a726848b6!2sFerreteria+Marcial!5e0!3m2!1sen!2ses!4v1555715867084!5m2!1sen!2ses" width="100%" height="450px" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:500px;width:100%;" allowfullscreen></iframe>
                    <!--</div>-->
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}