{% extends "layout.html" %}

{% block heading %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="contenido">
                <h1 class="centered">Login</h1>
                {% include "flash.html" %}

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <!--<form method=POST action="" name="form">-->
                            <!--<div class="form-group">-->
                                <!--<label for="username">Username</label>-->
                                <!--<input type="text" class="form-control" name="username" >-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="password">Password</label>-->
                                <!--<input type="password" class="form-control" name="password" placeholder="Password">-->
                            <!--</div>-->
                            <!--<button type="submit" class="btn btn-primary btn-block">Log In</button>-->
                        <!--</form>-->

                            <form action="" method="POST" name="form">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label class="control-label" for="username">Usuario</label>
                                    <input name="username" type="text" class="form-control" name="username" placeholder="Usuario">
                                    <!--{{ form.username }}-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Password</label>
                                    <input name="password" type="password" class="form-control" name="password" placeholder="Password">
                                    <!--{{ form.password }}-->
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Logear</button>
                            </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}