{% extends "layout.html" %}

{% block heading %}
<title> {{ title }}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="contenido">
                <!--<h1 class="centered">Login</h1>-->
                <!--{% include "flash.html" %}-->
                <h1> {{ title }}</h1>
                {% include "flash.html" %}
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-sm", value=oferta_seleccionada.name) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.desc.label(class="form-control-label") }}
                            {% if form.desc.errors %}
                                {{ form.desc(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.desc.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <!--GLORIA BENDITA-->
                                {% set f = form.desc.process_data(oferta_seleccionada.desc) %}
                                {{ form.desc(class="form-control form-control-sm", rows=4) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.cost.label(class="form-control-label") }}
                            {% if form.cost.errors %}
                             {{ form.cost(class="form-control form-control-lg is-invalid") }}
                             <div class="invalid-feedback">
                                 {% for error in form.cost.errors %}
                                    <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                            {% else %}
                            {{ form.cost(class="form-control form-control-lg", value=oferta_seleccionada.cost) }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form.image.label(class="form-control-label") }}
                            {% if form.image.errors %}
                                {{ form.image }}
                                <div class="invalid-feedback">
                                    {% for error in form.image.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--{{ form.submit }}-->
                            {% else %}
                                {{ form.image }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-info") }}
                    </div>
                </form>
                <div id="imagen-en-base-datos">
                    <h3>Imagen almacenada en base de datos</h3>
                    <img src="{{ foto_oferta_url }}">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}