{% extends "layout.html" %}

{% block heading %}
    <title>Contact</title>
{% endblock %}

{% block content %}

<script type="text/javascript">

</script>

<div id="productos" class="container-fluid">
    <div class="parent">
        <div class="child">
            <div class="contenido">
            <h1>¿Qué vendemos?</h1>
            <p>En nuestro establecimiento puedes encontrar productos de bla bla bla berborrea.</p>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <ul class="nav navbar-nav">
                            <li>asd</li>
                            <li>qwe</li>
                            <li>zxc</li>
                            <li>qwe</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="nav navbar-nav">
                            <li>asd</li>
                            <li>qwe</li>
                            <li>zxc</li>
                            <li>qwe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}